  /*Especificidad: 001*/
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 5em;
    text-align: left;
  }

  /*Especificidad: 001*/
  h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 2em;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.2em;
    background-color: navy;
    color: turquoise;
    border-radius: 18px;
  }

  /*Especificidad: 001*/
  h2 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 1em;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.5em;
    background-color: navy;
    color: turquoise;
    border-radius: 18px;
  }

  /*quitar si no cambia con respecto al body*/
  p {
    padding-left: 0.5em;
    padding-right: 3em;
  }

 /* Specifity 1 */
  img{
    max-width: 100%;
    height: auto;
  }

  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  /** preguntar por estilo de las anidadas **/
  ul {
    background-color: white;
    color: black;
    list-style-type: square;
  }

  li {
    background-color: white;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  table{
    background-color: turquoise;
    color: black;
    padding: 0.25em;
    text-align: center;
    border: 2px solid;
    border-color: black;
  }

  td{
    color: black;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    border: 2px solid;
    border-color: black;
  }

  th{
    color: black;
    background-color: turquoise;
  }

  /* Specifity 11 */
a:link {
  background-color: white;
  color:navy;
}

/* Specifity 11 */
a:visited {
  background-color: white;
  color: steelblue;
}

/* cambiar colores específicos en el nav */
    