  /*Especificidad: 001*/
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 5em;
    text-align: left;
  }

  /*Especificidad: 001*/
  h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 2em;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.2em;
    background-color: navy;
    color: turquoise;
    border-radius: 18px;
  }

  /*Especificidad: 001*/
  h2 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 1.2em;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.5em;
    background-color: navy;
    color: turquoise;
    border-radius: 18px;
  }

  /*Especificidad: 001*/
  h3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 1em;
    text-align: left;
    padding-left: 0.5em;
    background-color: navy;
    color: turquoise;
    border-radius: 18px;
  }

  /*Especificidad: 001*/
  p {
    padding-left: 0.5em;
    padding-right: 3em;
  }

  /*Especificidad: 001*/
  img{
    max-width: 100%;
    height: auto;
  }

  /* video y audio */

   /*Especificidad: 001*/
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

   /*Especificidad: 001*/
  footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0.5em;
    padding: 0.25em;
  }

  /*Especificidad: 001*/
  ul {
    background-color: white;
    color: black;
    list-style-type: circle;
  }

  /*Especificidad: 002*/
  ul ul{
    background-color: white;
    color: black;
    list-style-type: square;
  }

  /*Especificidad: 001*/
  li {
    background-color: white;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /*Especificidad: 001*/
  table{
    background-color: turquoise;
    color: black;
    padding: 0.25em;
    text-align: center;
    border: 2px solid;
    border-color: black;
  }

  /*Especificidad: 001*/
  td{
    color: black;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    border: 2px solid;
    border-color: black;
  }

  /*Especificidad: 001*/
  th{
    color: black;
    background-color: turquoise;
  }

  /*Especificidad 011 */
  a:link {
    background-color: white;
    color:navy;
  }

  /*Especificidad 011 */
  a:visited {
    background-color: white;
    color: steelblue;
  }

  /*Especificidad 001 */
  nav{
    background-color: navy;
    color: turquoise;
    display: flex;
    justify-content: space-evenly;
  }

  /*Especificidad 012 */
  nav a:link, nav a:visited{
    background-color: navy;
    color: turquoise;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  label, input{
    margin: 0.5em;
  }

  input[type=email], input[type=text]{
    width: 50%;
  }
