/* Specifity 1 */
body{
    display: grid;
       grid: "h h h"
             "m m a"
             "f f f";
       grid-template-columns: auto 1fr 20%;
}

/* Specifity 1 */
main { 
    grid-area: m;    
    padding-right: 0.5em;
}

aside{
    grid-area: a;
    padding-left: 0.5em;
    padding-top: 1em;
}

/* Specifity 1 */
header{
    grid-area: h;
}

/* Specifity 1 */
footer{
    grid-area: f;
}